.nameBox {
	font-size: 1em;
	width: 100%;
	height: 100px;
    margin-left: auto;
	margin-right: auto;
}

button {
    background-color: #F8DAE2;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Placeholder Styles */
textarea::-webkit-input-placeholder {
	color: #F8DAE2;
	font-weight:bold;
	font-size: 1.5em;
}
textarea::-moz-placeholder {
	color: #F8DAE2;
	font-weight:bold;
	font-size: 1.5em;
}

textarea::-ms-input-placeholder {
	color: #F8DAE2;
	font-weight:bold;
	font-size: 1.5em;
}
