@charset "utf-8";

/*
    Author: Jessa K. West, Summer Davis, Eden Bishop, Raghaad Abujabal
    Date: October 2023
*/

/* Layout */
html {
    background-color: #FDF9F2;
}

body {
    background-color: #FDF9F2;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

/* Header Logo */
#logo {
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
}

#nameBox {
    width: 500px;
    height: 30px;
    display: block;
    margin: auto;
}

/* Fonts + Headers */

h1 {
    font-size: 2em;
    color: #333;
}

h3 {
    font-size: 1.4em;
    font-weight: lighter;
}


/* Centered Form Box */
.intro-text {
    text-align: center;
}

div.slider {
    float: center;
    text-align: center;
	width: 100%;
	margin-top: 2px;
	margin-bottom: 2px;
}

div.goal {
    text-align: left;
	width: 100%;
    line-height: 40px;
	margin-top: 2px;
    margin-left: 20px;
    margin-right: auto;
	margin-bottom: 2px;
}

#icon {
    width: 75px;
}

#icon2 {
    display: block;
    float:center;
    width: 275px;
    margin-top: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

.centered-form {
    text-align: center;
}

input[type="submit"] {
	display: block;
    background-color:#F8DAE2;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: medium;
}

#final_submit{
    background-color:#F8DAE2;
    font-weight: bold;
    padding: 10px;
}

/* Footer */

footer {
    margin-top: auto;
    background-color: #F8DAE2;
    text-align: center;
    padding: 10px;
    width: 100%;

}

