@charset "utf-8";

/*
    Author: Jessa K. West, Summer Davis, Eden Bishop, Raghaad Abujabal
    Date: October 2023
*/

/* Layout */
html {
    background-color: #FDF9F2;
}

body {
    float: none;
    margin: 5px auto;
    max-width: 1200px;
    min-width: 800px;
    width: 80%;
}

/* Logo */
#logo {
    width: 50px;
    height: auto;
}

/* Header */
header {
}


/* Menu */

footer {

}
